<?xml version='1.0' encoding='utf-8'?>
<tomcat-users>
<role rolename="manager-gui"/>
<role rolename="manager-script"/>
<role rolename="standard"/>
<!-- Used by Jenkins -->
<user username="perundeploy" password="{{ password_tomcat_manager_script }}" roles="manager-script"/>
<!-- Used by an administrator to access web based manager -->
<user username="perunadmin" password="{{ password_tomcat_manager_gui }}" roles="manager-gui"/>
</tomcat-users>
