# You may pass JVM startup parameters to Java here. If unset, the default
# options will be: -Djava.awt.headless=true -XX:+UseG1GC
JAVA_OPTS="-Djava.awt.headless=true -XX:+UseG1GC -Xmx3000m -Dfile.encoding=UTF8 -Dspring.profiles.active=production"
