[submodule "cesnet_roles"]
	path = cesnet_roles
	url = https://github.com/CESNET/perun-ansible-roles
[submodule "roles/cesnet.perun_docker_server"]
	path = roles/cesnet.perun_docker_server
	url = https://github.com/CESNET/ansible-role-perun-docker-server.git
