<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.RollingFileAppender" name="perun_auditer_log">
        <param value="{{ perun_engine_var_log_repo }}/perun-auditer.log" name="File"/>
        <param value="2" name="MaxBackupIndex"/>
        <param value="30000KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="perun_core_log">
        <param value="{{ perun_engine_var_log_repo }}/perun-core.log" name="File"/>
        <param value="25" name="MaxBackupIndex"/>
        <param value="50000KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="perun_engine_log">
        <param value="{{ perun_engine_var_log_repo }}/perun-engine.log" name="File"/>
        <param value="2" name="MaxBackupIndex"/>
        <param value="30000KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="spring_log">
        <param value="{{ perun_engine_var_log_repo }}/perun-spring.log" name="File"/>
        <param value="5" name="MaxBackupIndex"/>
        <param value="30000KB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger name="cz.metacentrum.perun.core">
        <level value="debug"/>
        <appender-ref ref="perun_core_log"/>
    </logger>
    <logger name="cz.metacentrum.perun.core.impl.JdbcPerunTemplate">
        <level value="error"/>
        <appender-ref ref="perun_core_log"/>
    </logger>
    <logger name="cz.metacentrum.perun.core.impl.PerunTransactionManager">
        <level value="error"/>
        <appender-ref ref="perun_core_log"/>
    </logger>
    <logger name="cz.metacentrum.perun.core.impl.PerunBasicDataSource">
        <level value="error"/>
        <appender-ref ref="perun_core_log"/>
    </logger>
    <logger name="cz.metacentrum.perun.core.impl.Auditer">
        <level value="error"/>
        <appender-ref ref="perun_auditer_log"/>
    </logger>
    <logger name="cz.metacentrum.perun.engine">
        <level value="debug"/>
        <appender-ref ref="perun_engine_log"/>
    </logger>
    <logger name="org.springframework">
        <level value="info"/>
        <appender-ref ref="spring_log"/>
    </logger>
</log4j:configuration>