notif.mailSmtpAuth=false
notif.username=
notif.password=
notif.smtpHost=localhost
notif.port=8086
notif.emailFrom=perun@localhost
notif.fromText=Test message
notif.sendMessages=true
notif.starttls=false
notif.jabber.jabberServer=jabber.org
notif.jabber.port=5222
notif.jabber.serviceName=jabber.org
notif.jabber.username=
notif.jabber.password=
notif.dispatcherName=notifications