# URL to Perun instance
perunUrl=https://[hostname]/

# Secret key for authentication messages
secretKey=[secret-key]

# Backup email adresses
backupFrom=[backup-email]
backupTo=[backup-email]

# URL paths behind Shibboleth (since links with anchors needs to be escaped for users)
fedAuthz=fed