# Addresses for reporting bugs to RT system
perunReportEmailAddress={{ perun_report_email_address }}
defaultRtQueue={{ default_rt_queue }}

# Members group name
vosManagerMembersGroup={{ vos_manager_members_group }}

# If instance is devel (set to true), notification is shown in GUI
isDevel={{ is_devel }}

# If you will manage different login-namespace fix / add its definition in this list (currently last item)
getAttributesListForMemberTables={{ get_attributes_list_for_member_tables }}
getAttributesListForUserTables={{ get_attributes_list_for_user_tables }}

# Login namespaces in which perun can perform password reset
getSupportedPasswordNamespaces={{ get_supported_password_namespaces }}

# Public key for Captcha on registration forms
getReCaptchaPublicKey={{ get_recaptcha_public_key }}

# Customized URL to consolidator application
getIdentityConsolidatorUrl={{ get_identity_consolidator_url }}

# Name of your instance (will be included in bug reports)
perunInstanceName={{ perun_instance_name }}

# Optional skipping CAPTCHA for non authorized access to registration into following VOs (list of their shortnames)
vosToSkipCaptchaFor={{ vos_to_skip_captcha_for }}

# Unix group name namespaces where users can set preferences of their primary group name (list separated by commas)
namespacesForPreferredGroupNames={{ namespaces_for_preferred_group_names }}

# Native language
nativeLanguage={{ native_language }}

#### NEW WUI CONFIG for Identity consolidator and Registrar ######

rt.defaultQueue={{ rt_default_queue }}
rt.defaultMail={{ rt_default_mail }}

reCaptcha.publicKey={{ recaptcha_public_key }}
reCaptcha.skipVos={{ recaptcha_skip_vos }}

attributesForMemberTables={{ attributes_for_member_tables }}
attributesForUserTables={{ attributes_for_user_tables }}
namespacesForPreferredGroupNames={{ namespaces_for_preferred_group_names }}
supportedPasswordNamespaces={{ supported_password_namespaces }}
perunInstanceName={{ perun_instance_name }}
isDevel={{ is_devel }}
membersGroupName={{ members_group_name }}

language.supported={{ language_supported }}
language.flags.cs={{ language_flags_cs }}
language.flags.en={{ language_flags_en }}

# brand.logo.[lang]=
# brand.name.[lang]=
# brand.supportMail.[lang]=
# brand.supportPhone.[lang]=
# wayf.groups = { wayf config object }, // can be only local on a webpage

wayf.cert.hosts={{ wayf_cert_hosts }}
wayf.spLogoutUrl={{ wayf_sp_logout_url }}
wayf.spDsUrl={{ wayf_sp_ds_url }}
wayf.feedUrl={{ wayf_feed_url }}
wayf.feedImagesUrl={{ wayf_feed_images_url }}

footer.disabled={{ footer_disabled }}
language.switch.disabled={{ language_switch_disabled }}
header.disabled={{ header_disabled }}

#brand.logo.cs=
#brand.logo.en=
