#Login to Perun Core
perun.principal.name=perunEngine
perun.principal.extSourceName=INTERNAL
perun.principal.extSourceType=cz.metacentrum.perun.core.impl.ExtSourceInternal

# Where is Engine JSM located
engine.unique.id=1
engine.ip.address=127.0.0.1
engine.port=6061

# Set where to find Dispatcher
dispatcher.ip.address=127.0.0.1
dispatcher.port=6071