ldap.url={{ ldap_url }}
ldap.userDn={{ ldap_user_dn }}
ldap.base={{ ldap_base }}
ldap.password={{ password_ldapc }}
ldap.consumerName={{ ldap_consumer_name }}
ldap.loginNamespace={{ ldap_login_namespace }}
