# URL to perun instance
perunUrl=https://{{ hostvars[groups['perun-servers'][0]]['ansible_default_ipv4']['address']}}

# Secret key for authentication messages
secretKey={{ registrar_secret_key }}

# Backup email adresses
backupFrom={{ perun_email }}
backupTo={{ perun_email }}

# Federative authz
fedAuthz={{ fed_authz }}