perun.rpc.lib.perun.url = https://[hostname]/ba/rpc/                                                                                              

perun.rpc.lib.username = perun
perun.rpc.lib.password = [rpc-lib-pasword] # you will set password later