# URL to perun instance
perunUrl=https://{{ perun_hostname }}

# Secret key for authentication messages
secretKey={{ registrar_secret_key }}

# Backup email adresses
backupFrom={{ perun_email }}
backupTo={{ perun_email }}

# Federative authz
fedAuthz={{ fed_authz }}

# Java MAIL properties for sending notifications
mail.smtp.host=localhost
mail.smtp.port=25
mail.smtp.auth=false
mail.smtp.starttls.enable=false
mail.debug=false
registrar.smtp.user=
registrar.smtp.pass=
