# Set where Dispatcher JMS is present
dispatcher.ip.address=127.0.0.1
dispatcher.port=6071
dispatcher.enabled=true
# number of hours before DONE tasks are propagated again
dispatcher.rescheduleInterval=48

# Set internal Dispatcher identity
perun.principal.name=perunDispatcher
perun.principal.extSourceName=INTERNAL
perun.principal.extSourceType=cz.metacentrum.perun.core.impl.ExtSourceInternal
