# URL to Perun instance
#perunUrl=https://{{ hostvars[groups['perun-servers'][0]]['ansible_ipv4_address']}}/
perunUrl=https://{{ hostvars[groups['perun-servers'][0]]['ansible_ipv4_address']}}

# Secret key for authentication messages
secretKey={{ key_registrar_auth_messages }}

# Backup email adresses
backupFrom={{ backup_from }}
backupTo={{ backup_to }}

# URL paths behind Shibboleth (since links with anchors needs to be escaped for users)
fedAuthz={{ fed_authz }}
