# Setup custom restrictions for login-namespace
# This is only example of format:
# login-namespace\:einfra\:regex=^AbcD$
# login-namespace\:einfra\:reservedNames=jmeno, jmeno2, jmeno3
# unixGroupName-namespace\:cerit\:regex=^CDe$
# unixGroupName-namespace\:cerit\:reservedNames=bla, bla2, bla3