notif.mailSmtpAuth={{ notif_mailSmtpAuth }}
notif.username={{ notif_username }}
notif.password={{ password_notifications }}
notif.smtpHost={{ notif_smtpHost }}
notif.port={{ notif_port }}
notif.emailFrom={{ notif_emailFrom }}
notif.fromText={{ notif_fromText }}
notif.sendMessages={{ notif_sendMessages }}
notif.starttls={{ notif_starttls }}
notif.jabber.jabberServer={{ notif_jabber_jabberServer }}
notif.jabber.port={{ notif_jabber_port }}
notif.jabber.serviceName={{ notif_jabber_serviceName }}
notif.jabber.username={{ notif_jabber_username }}
notif.jabber.password={{ password_notifications_jabber }}
notif.dispatcherName={{ notif_dispatcherName }}