# Allow perun-engine to call Perun using BA

export PERUN_USER=perun-engine/{{ password_perun_engine }}
export PERUN_URL=https://{{ perun_hostname }}/ba/rpc/
export PERL5LIB=/opt/perun-cli/lib/
# On Debian 9 / Perl 5.24.1 doesn't automatically include current folder to perl libs, so we must include it manually
export PERL5LIB=$PERL5LIB":."
# remove on production or set to 1
export PERL_LWP_SSL_VERIFY_HOSTNAME=0


#export PERUN_RPC_TYPE="Perun RPC"
#export PERUN_USER=`grep 'perun.rpc.lib.username' /etc/perun/perun-rpc-lib.properties  | sed -e 's/.*= //'`/`grep 'perun.rpc.lib.password' /etc/perun/perun-rpc-lib.properties | sed -e 's/.*= //'`
