<Connector port="18443" protocol="HTTP/1.1" SSLEnabled="true" 
           maxThreads="150" scheme="https" secure="true" 
           clientAuth="false" sslProtocol="TLS" 

           # provide tomcat with same certificate as apache
           keystoreFile="/etc/ssl/p12/ssl-cert-snakeoil.p12" 
           keystorePass="{{ password }}" keystoreType="PKCS12" 

           />

<Connector port="8009" protocol="AJP/1.3" redirectPort="18443" address="127.0.0.1" tomcatAuthentication="false" URIEncoding="UTF-8"/>
