dn: dc=perun,dc=bbmri-eric,dc=eu
ou: People 
description: Perun Management System
objectClass: organizationalUnit
objectClass: dcObject
dc: perun

dn: ou=People,dc=perun,dc=bbmri-eric,dc=eu
ou: People 
objectClass: organizationalUnit