ldap.url=ldap://localhost:389
ldap.userDn={{ slapd_basedn_admin }}
ldap.base={{ slapd_basedn }}
ldap.password={{ password_ldap_data_tree }}
ldap.consumerName=ldapcConsumer
ldap.loginNamespace={{ slapd_password_sasl_login_namespace }}
ldap.stateFile=./perun-ldapc-last-state
# password for cn=admin,cn=config: {{ password_ldap_config }}
# password for cn=proxy,{{ slapd_basedn }}: {{ password_ldap_proxy }}
