dn: cn=config
add: olcTLSCACertificateFile
olcTLSCACertificateFile: "{{ olcTLSCACertificateFile }}"
-
add: olcTLSCertificateFile
olcTLSCertificateFile: "{{ olcTLSCertificateFile }}"
-
add: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: "{{ olcTLSCertificateKeyFile }}"