#!/bin/bash

LAST_PROCESSED_ID=$1

PIDFILE={{ perun_ldapc_folder }}/pid
JAR={{ ldapc_jar }}
LOGFILE={{ ldapc_log_file }}

#we don't want to use default kerberos ticket (for user perun-engine)
KRB5CCNAME="/dev/null"
export KRB5CCNAME

# Kill running ldapc
if [ -s $PIDFILE ]; then
  PID=`cat $PIDFILE`
  if [ -d "/proc/$PID" ]; then
    kill $PID
  fi
fi

cd "{{ perun_ldapc_folder }}"

if [ $LAST_PROCESSED_ID ]; then
  java -jar $JAR $LAST_PROCESSED_ID >> $LOGFILE 2>&1  &
else
  java -jar $JAR >> $LOGFILE 2>&1  &
fi

# Save the PID
echo $! > $PIDFILE
