#!/bin/bash
export PERL5LIB=/opt/perun-cli/lib/
export PERUN_USER=perun-engine
# ensure engine can connect to localhost if it doesn't have proper certificate (comment for production use) 
export PERL_LWP_SSL_VERIFY_HOSTNAME=0
export PERUN_URL=https://{{ hostvars[groups['perun-servers'][0]]['ansible_ipv4_address']}}/ba/rpc/

# If other type of RPC then "Perun RPC" 
# export PERUN_RPC_TYPE="[rpc_type]" 

export JAVA_OPTS='-Djavax.net.ssl.trustStore=/home/perun/.truststore -Djavax.net.ssl.trustStorePassword={{ password_truststore }}'

# Uncomment to support Kerberos authentication to Perun
# Also add engine krb principal to "perun.engine.principals" of "/etc/perun/perun.properties".
#export KRB5CCNAME=/tmp/krb5cc_perun-engine
#export PERUN_URL=https://hostname.domain/krb/rpc/