<VirtualHost *:80>
        ServerAdmin {{ perun_email }}

        RewriteEngine On
        RewriteCond %{HTTPS} !=on
        RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

        DocumentRoot /var/www/

        # GENERIC ERRORS
        ErrorDocument 401 /maintenance/401.html
        ErrorDocument 403 /maintenance/403.html
        ErrorDocument 404 /maintenance/404.html
        ErrorDocument 500 /maintenance/500.html
        ErrorDocument 503 /maintenance/503.html

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
