<IfModule mod_ssl.c>

# Support Federated and Kerberos authz on single instance
# Shib module otherwise occupy "Require valid-user" option
ShibCompatValidUser on

 <VirtualHost *:443>

  ServerAdmin {{ perun_email }}

  ServerName {{ perun_hostname }}
  {% if perun_hostname_alias is defined and perun_hostname_alias|length > 0 %}
  ServerAlias {{ perun_hostname_alias }}
  {% endif %}

  DocumentRoot /var/www/
  <Directory "/var/www">
    Options -Indexes +FollowSymLinks -MultiViews
    Require all granted
  </Directory>

  # GENERIC ERRORS
  ErrorDocument 401 /maintenance/401.html
  ErrorDocument 403 /maintenance/403.html
  ErrorDocument 404 /maintenance/404.html
  ErrorDocument 500 /maintenance/500.html
  ErrorDocument 503 /maintenance/503.html

  #### SSL

  SSLEngine on

  SSLCertificateFile {{ apache_certificate_file }}
  SSLCertificateKeyFile {{ apache_certificate_key_file }}
{% if apache_certificate_chain_file is defined and apache_certificate_chain_file|length > 0 %}
  SSLCertificateChainFile {{ apache_certificate_chain_file }}
{% endif %}
{% if apache_ca_certificate_path is defined and apache_ca_certificate_path|length > 0 %}
  # SSL client certificates authentication - change "optional" to "none" for disabling
  SSLCACertificatePath {{ apache_ca_certificate_path }}
  SSLCARevocationPath {{ apache_ca_certificate_path }}
  SSLCARevocationCheck chain
  SSLVerifyDepth 5
  SSLVerifyClient optional
{% endif %}

  # Make sure certs are exported in old DN format stored in Perun
  SSLOptions +LegacyDNStringFormat

  # Note: sometimes, buffer size must be set also in Tomcat and must be lower then this value.
  ProxyIOBufferSize 65536

  #### SECURITY

  # HTTP tracing
  TraceEnable off
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options
  Header always set X-Frame-Options DENY
  # https://scotthelme.co.uk/hsts-the-missing-link-in-tls/
  Header always set Strict-Transport-Security "max-age=63072000"
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options
  Header always set X-Content-Type-Options nosniff
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-xss-protection
  Header always set X-XSS-Protection "1; mode=block"
  # https://scotthelme.co.uk/content-security-policy-an-introduction/
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data:"
  # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
  Header always set Referrer-Policy "no-referrer-when-downgrade"
  # https://scotthelme.co.uk/a-new-security-header-feature-policy/
  Header always set Feature-Policy "microphone 'none'; camera 'none'; geolocation 'none'; payment 'none'"

  # Disable browser caching for our html/rpc resources
  Header always set Cache-Control "no-cache, no-store, max-age=0, must-revalidate" "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|pwd-reset|wui|ic|registrar|publications|profile|affiliation)(/|(.*).nocache.js)|rpc/(.*))$#"
  Header always set Pragma no-cache "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|pwd-reset|wui|ic|registrar|publications|profile|affiliation)(/|(.*).nocache.js)|rpc/(.*))$#"
  Header always set Expires 0 "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|pwd-reset|wui|ic|registrar|publications|profile|affiliation)(/|(.*).nocache.js)|rpc/(.*))$#"

  #### REWRITE

  RewriteEngine On

  # Protection against proxy attacks
  RewriteCond  %{REQUEST_URI}  !^$
  RewriteCond  %{REQUEST_URI}  !^/
  RewriteRule  .*              -    [R=400,L]

  ####################################
  ##      MAINTENANCE             ####
  ####################################
  #RewriteCond %{REQUEST_URI} !^/.*/rpc/
  #RewriteCond %{REQUEST_URI} !^/cert/.*
  #RewriteCond %{REQUEST_URI} !^/krb/.*
  #RewriteCond %{REQUEST_URI} !^/fed/.*
  #RewriteCond %{REQUEST_URI} !^/maintenance/maintenance.html
  #RewriteCond %{REQUEST_URI} !^/Shibboleth.sso/
  #RewriteRule .* /maintenance/maintenance.html [R,L]

  ####################################
  ##    DEPLOY TO TOMCAT          ####
  ####################################

  <Location "/tomcat-manager/">
    ProxyPass http://127.0.0.1:18443/ nocanon
    ProxyPassReverse http://127.0.0.1:18443/
    # set bigger buffer, since we deploy 50MB WAR
    SSLRenegBufferSize 52428800
  </Location>

  ####################################
  ##     RPC                      ####
  ####################################

  # General rewrite rule
  RewriteRule ^/(.*)/rpc/(.*)$ ajp://localhost:8009/perun-rpc/$2 [P,QSA,E=AJP_SSL_CLIENT_VERIFY:%{SSL:SSL_CLIENT_VERIFY},E=AJP_SSL_CLIENT_I_DN:%{SSL:SSL_CLIENT_I_DN},E=AJP_SSL_CLIENT_S_DN:%{SSL:SSL_CLIENT_S_DN},E=AJP_SSL_CLIENT_CERT:%{SSL:SSL_CLIENT_CERT}]

  ####################################
  ##     GUI                      ####
  ####################################
  RewriteRule ^/(.*)/gui$ https://%{HTTP_HOST}/$1/gui/ [L,R=301]
  RewriteRule ^/(.*)/gui/$ /var/www/perun-web-gui/PerunWeb.html [L]
  RewriteRule ^/(.*)/gui/(.+)$ /var/www/perun-web-gui/$2 [L]

  ####################################
  ##     Registrar                ####
  ####################################
  RewriteCond %{REQUEST_URI} ^/(.*)/registrar$
  RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

  RewriteRule ^/(.*)/registrar/?$ /var/www/perun-wui/PerunRegistrar.html [L]
  RewriteRule ^/(.*)/registrar/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     Password Reset           ####
  ####################################
  RewriteRule ^/(.*)/pwd-reset$ https://%{HTTP_HOST}/$1/pwd-reset/ [L,R=301]
  RewriteRule ^/(.*)/pwd-reset/$ /var/www/perun-wui/PerunPwdReset.html [L]
  RewriteRule ^/(.*)/pwd-reset/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     Identity Consolidator    ####
  ####################################

  # SP endpoint
  <Location "/Consolidator.sso">
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    ShibRequestSetting applicationId consolidator
    Require shib-session
  </Location>

  RewriteRule ^/(krb|cert)-ic/ic$ https://%{HTTP_HOST}/$1/ic/ [L,R=301]
  RewriteRule ^/(krb|cert)-ic/ic/$ /var/www/perun-wui/PerunConsolidator.html [L]
  RewriteRule ^/(krb|cert)-ic/ic/(.+)$ /var/www/perun-wui/$2 [L]

  RewriteRule ^/(.*)-ic/ic$ https://%{HTTP_HOST}/$1/ic/ [L,R=301]
  RewriteRule ^/(.*)-ic/ic/$ /var/www/perun-wui/PerunConsolidator.html [L]
  RewriteRule ^/(.*)-ic/ic/(.+)$ /var/www/perun-wui/$2 [L]

  #must be last
  RewriteRule ^/(.*)/ic$ https://%{HTTP_HOST}/$1-ic/ic/ [L,NE,R=301]
  RewriteRule ^/(.*)/ic/(.*)$ https://%{HTTP_HOST}/$1-ic/ic/$2 [L,NE,R=301]

  ####################################
  ##     PROFILE                  ####
  ####################################
  RewriteRule ^/(.*)/profile$ https://%{HTTP_HOST}/$1/profile/ [L,R=301]
  RewriteRule ^/(.*)/profile/$ /var/www/perun-wui/PerunProfile.html [L]
  RewriteRule ^/(.*)/profile/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     WUI                      ####
  ####################################
  #RewriteRule ^/(.*)/wui$ https://%{HTTP_HOST}/$1/wui/ [L,R=301]
  #RewriteRule ^/(.*)/wui/$ /var/www/perun-wui/PerunAdmin.html [L]
  #RewriteRule ^/(.*)/wui/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     AFFILIATION              ####
  ####################################
  #RewriteRule ^/(.*)/affiliation$ https://%{HTTP_HOST}/$1/affiliation/ [L,R=301]
  #RewriteRule ^/(.*)/affiliation/$ /var/www/perun-wui/PerunSetAffiliation.html [L]
  #RewriteRule ^/(.*)/affiliation/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     PUBLICATIONS             ####
  ####################################
  #RewriteRule ^/(.*)/publications$ https://%{HTTP_HOST}/$1/publications/ [L,R=301]
  #RewriteRule ^/(.*)/publications/$ /var/www/perun-wui/PerunCabinet.html [L]
  #RewriteRule ^/(.*)/publications/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     AuthN Methods            ####
  ####################################

  <LocationMatch "(^/cert/|^/cert-ic/)">
    Options FollowSymLinks
    Require expr "%{SSL_CLIENT_VERIFY} == 'SUCCESS'"
    SSLOptions +StdEnvVars +ExportCertData +LegacyDNStringFormat

    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceX509
    SetEnvIf _ .* AJP_EXTSOURCELOA=2
  </LocationMatch>

  <LocationMatch "^/fed/">
    AuthType shibboleth
    ShibRequestSetting applicationId default
    ShibRequestSetting requireSession 1
    # for custom prefixes with multiple session initiators
    # ShibRequestSetting requireSessionWith fed
    Require shib-session
  </LocationMatch>

  <LocationMatch "^/fed-ic/">
    AuthType shibboleth
    ShibRequestSetting applicationId consolidator
    ShibRequestSetting requireSession 1
    # for custom prefixes with multiple session initiators
    # ShibRequestSetting requireSessionWith fed
    ShibRequestSetting forceAuthn On
    Require shib-session
  </LocationMatch>

  <LocationMatch "^/non/">
    Options FollowSymLinks
    Require all granted
    SSLRequireSSL
    SSLVerifyClient none

    SetEnvIf _ .* AJP_EXTSOURCE=LOCAL
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceInternal
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>

  <LocationMatch "^/ba/">
    Options FollowSymLinks
    SSLRequireSSL
    SSLVerifyClient none
    AuthType basic
    AuthName "Perun RPC"
    Require valid-user
    AuthBasicProvider file
    # relative to ServerRoot
    AuthUserFile perun.passwd

    SetEnvIf _ .* AJP_EXTSOURCE=INTERNAL
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceInternal
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>

  #<LocationMatch "(^/krb/|^/krb-ic/)">
  #   Options FollowSymLinks
  #   SSLRequireSSL
  #   AuthType KerberosV5
  #   AuthName "Kerberos META"
  #   Krb5Keytab /etc/apache2/krb5.http.keytab
  #   KrbAuthRealms META
  #   KrbSaveCredentials Off
  #   KrbMethodNegotiate On
  #   KrbMethodK5Passwd On
  #   KrbServiceName Any
  #   KrbVerifyKDC Off

  #   Require valid-user

  # Perun ExtSource definition matching this authz method
  #   SetEnvIf _ .* AJP_EXTSOURCE=META
  #   SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceKerberos
  #   SetEnvIf _ .* AJP_EXTSOURCELOA=0
  #</LocationMatch>

  #<LocationMatch "^/krbe/">
  #   Options FollowSymLinks
  #   SSLRequireSSL
  #   SSLVerifyClient none
  #   SSLOptions +StdEnvVars +ExportCertData
  #   AuthType KerberosV5
  #   AuthName "Kerberos EINFRA"
  #   Require valid-user
  #   Krb5Keytab /etc/apache2/krb5.http.keytab
  #   KrbAuthRealms EINFRA
  #   KrbSaveCredentials Off
  #   KrbMethodNegotiate On
  #   KrbMethodK5Passwd On
  #   KrbServiceName Any
  #   KrbVerifyKDC Off

  # Perun ExtSource definition matching this authz method
  #   SetEnvIf _ .* AJP_EXTSOURCE=EINFRA
  #   SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceKerberos
  #   SetEnvIf _ .* AJP_EXTSOURCELOA=0
  #</LocationMatch>

  #<LocationMatch "^/krbes/">
  #   Options FollowSymLinks
  #   SSLRequireSSL
  #   SSLVerifyClient none
  #   AuthType KerberosV5
  #   AuthName "Kerberos EINFRA-SERVICES"
  #   Require valid-user
  #   Krb5Keytab /etc/apache2/krb5.http.keytab
  #   KrbAuthRealms EINFRA-SERVICES
  #   KrbSaveCredentials Off
  #   KrbMethodNegotiate On
  #   KrbMethodK5Passwd On
  #   KrbServiceName Any
  #   KrbVerifyKDC Off

  # Perun ExtSource definition matching this authz method
  #   SetEnvIf _ .* AJP_EXTSOURCE=EINFRA-SERVICES
  #   SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceKerberos
  #   SetEnvIf _ .* AJP_EXTSOURCELOA=0
  #</LocationMatch>

 </VirtualHost>
</IfModule>
